include README.md
recursive-include futuquant *.md
recursive-include futuquant *.url
recursive-include futuquant *.json
recursive-include futuquant *.bat
recursive-include futuquant *.csv

include requirements.txt
include futuquant/VERSION.txt
recursive-include docs/document *